Создание DataFrame

In [2]:
import pandas as pd

In [6]:
# Cпособ 1
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [7]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [8]:
#Способ 2
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

Параметр Axis = 0 - движение по строкам (в рамках одного столбца)
Параметр Axis = 1 - движение по столбцам (в рамках одной строки)

In [9]:
# Среднее по строкам:
countries_df.mean(axis=0, numeric_only=True) #numeric_only в значение True = вести расчёт только по числовым столбцам

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [10]:
# Среднее по столбцам:
countries_df.mean(axis=1, numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

Доступ к данным в DataFrame
1. Доступ к столбцу

In [11]:
#Способ 1
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [12]:
# Способ 2
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [13]:
type(countries_df.population)

pandas.core.series.Series

2. Доступ к ячейкам

In [14]:
countries_df.loc['UK', 'area'] #Получим площадь Великобритании:

np.int64(133396)

In [15]:
countries_df.loc['RU', ['population', 'area']] #Получим население и площадь, соответствующие России:

population      146.24
area          17125191
Name: RU, dtype: object

In [17]:
#Сделаем вырезку из таблицы и получим информацию о населении и площади, соответствующую Украине, Беларуси и Казахстану
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'area']]
#или:
countries_df.iloc[4:8, 1:3]

    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

Задание 3.5

In [19]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
    'income': income,
    'expenses': expenses},
     index = years)
    return df
df = create_companyDF(income, expenses, years)
display(df)

      income  expenses
2018     478       156
2019     512       130
2020     196       270

In [33]:
df.index.tolist() #выдает индексы в виде списка
df.index.tolist()

[2018, 2019, 2020]

In [40]:
def get_profit(df, year):
    if year in df.index.tolist():
        profit = df.loc[year, 'income']-df.loc[year, 'expenses']
        return profit
    else:
        return None
get_profit(df, 2020)

np.int64(-74)