In [1]:
import pandas as pd
city_bike = pd.read_csv('C:/Users/U_M1P8G/Desktop/IDE/Python_for_data_analysis/Модуль_4/data/citibike-tripdata.csv', sep=',')

In [2]:
city_bike.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
city_bike['start station id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

In [9]:
city_bike['starttime'].dtype
city_bike['starttime'].info()
city_bike['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

In [10]:
city_bike['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

In [11]:
city_bike['bikeid'].value_counts()

bikeid
33887    107
34358    104
34159    103
34258    103
34730    102
        ...
18083      1
17567      1
15122      1
15681      1
25794      1
Name: count, Length: 10004, dtype: int64

In [13]:
city_bike['usertype'].mode()

0    Subscriber
Name: usertype, dtype: object

In [19]:
city_bike[city_bike['usertype']=='Subscriber'].shape[0]*100/city_bike.shape[0]

77.40066666666667

In [20]:
print("Пропущенные значения:", city_bike['usertype'].isna().sum())

Пропущенные значения: 0

In [21]:
print("Уникальные значения:", city_bike['usertype'].unique())

Уникальные значения: ['Subscriber' 'Customer']

In [22]:
user_type_share = city_bike['usertype'].value_counts(normalize=True)
dominant_type_share = user_type_share.max()

# Округляем до сотых
answer = round(dominant_type_share, 2)
print(f"Ответ: {answer}")

Ответ: 0.77

In [23]:
city_bike['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [26]:
print(city_bike['start station id'].nunique())
print(city_bike['end station id'].nunique())

759
765

In [37]:
city_bike['birth year']
city_bike['starttime']=pd.to_datetime(city_bike['starttime'])
city_bike['age']=city_bike['starttime'].dt.year - city_bike['birth year']
city_bike['age'].min()

np.int64(16)

In [38]:
city_bike['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [39]:
city_bike['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

In [51]:
city_bike.drop(['start station id', 'end station id'], axis = 1, inplace = True)

In [52]:
city_bike.shape[1]

12

In [ ]:
city_bike['age'] = 2018-city_bike['birth year']
city_bike['age']
city_bike.drop(['birth year'], axis = 1, inplace = True)

KeyError: 'birth year'

In [59]:
city_bike[city_bike['age']>60].shape[0]

11837

In [ ]:
city_bike['stoptime']=pd.to_datetime(city_bike['stoptime'])

In [70]:
trip_duration = (city_bike['stoptime'] - city_bike['starttime']).dt.total_seconds()/60
trip_duration

0          27.256083
1           2.203333
2          55.631633
3           7.280617
4         140.966550
             ...
299995      7.394133
299996     11.552300
299997      5.216617
299998     56.001533
299999      3.750850
Length: 300000, dtype: float64